<div class="container">
  <h1><%= t('views.catalog.title') %></h1>

  <h3><%= t('views.catalog.description') %></h3>

    <section class="widget" style="margin-top: 5%">
      <div class="widget-body">
        <% @catalogs.each do |catalog| %>
          <div class="col-md-4 float-left">
            <fieldset>
              <header><h5><%= catalog.title %></h5></header>
              <%= image_tag (catalog.image), style:"width: 250px; height:250px; margin-bottom: 16px; margin-top: 16px" %>

              <p><%= truncate(catalog.description, :length => 75, :separator => ' ') %></p>
              <p class="text-center"><%= number_to_currency(catalog.price.to_f/100) %></p>
              <p><i class="fa fa-minus-circle"></i><input type="number" readonly><i class="fa fa-plus-circle"></i></p>
            </fieldset>
          </div>
        <% end %>

        <%= link_to "Get Price", "", class:"btn btn-primary" %>
      </div>
    </section>
</div>

