<style>
  .center {
    text-align: center;
  }
</style>
<div class="table-responsive" style="width:100%;">
  <table id="tableCarts" class="table table-striped">
    <thead>
    <tr>
      <th><%= t('views.cart.article') %></th>
      <th class="center"><%= t('views.cart.price') %></th>
      <th class="center"><%= t('views.cart.quantity') %></th>
      <th class="center"><%= t('views.cart.subtotal') %></th>
      <th class="center"><%= t('views.cart.offer') %></th>
      <th class="center"><%= t('views.cart.total') %></th>
    </tr>
    </thead>
    <tbody>
    <% unless @articles.blank? %>
      <% @articles.each do |article| %>
        <tr>
          <td><%= image_tag (article['image']), style: "width: 30px; height:30px; margin: 2px" %> <%= article['title'] %></td>
          <td class="center"><%= number_to_currency(article['price'].to_f / 100) %></td>
          <td class="center"><%= article['quantity'] %></td>
          <td class="center"><%= number_to_currency(article['subtotal'].to_f / 100) %></td>
          <% if article['offer'] %>
            <td class="center"><span class='icon'><i class='fa fa-check' style="color: green"></i></span></td>
          <% else %>
            <td class="center"><span class='icon'><i class='fa fa-times' style="color: red"></i></span></td>
          <% end %>
          <td class="center"><strong><%= number_to_currency(article['total'].to_f / 100) %></strong></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<%= javascript_include_tag "search_table_carts" %>