<div class="container">

  <h1><%= t('views.cart.title') %></h1>

  <h3><%= t('views.cart.description') %></h3>

  <section class="widget">
    <div class="widget-body">
      <div id="carts_stats_list" style="padding-top: 20px"><%= render "carts_stats" %></div>
    </div>
  </section>

  <section class="widget">
    <div class="widget-body">
      <h4 style="padding-top: 20px; color: green"><strong><%= t('views.cart.total_price') + ': ' +  number_to_currency(@total_amount.to_f/100) %></strong></h4>
    </div>
  </section>

  <section class="widget" style="margin-top: 5%">
    <div class="widget-body">
      <%= link_to t('views.catalog.goto'), catalogs_path, class:"btn btn-primary" %>
    </div>
  </section>
</div>